<!doctype html>
<html ng-app="demoApp">
<head>
  <title>Angular Trustpass demo</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="tr-trustpass.css">
  <style>
    html, body {
      margin: 0;
      padding: 0;
    }
    body {
      font-family: sans-serif;
    }
    form {
      display: block;
      padding-bottom: 30px;
    }
    .footer {
      border-top: 1px solid #eee;
      margin-top: 60px;
      padding-top: 15px;
      margin-bottom: 30px;
    }
    .demo {
      margin-top: 30px;
    }
    .table {
      width:100%;
    }
    .table.table-example2 th {
      width: 30%;
    }
    .ng-dirty.ng-valid { border-color: green; }
    .ng-dirty.ng-invalid { border-color: red; }
  </style>
</head>
<body>

  <article class="container">

    <div class="row">
      <div class="col-xs-12">
        <div class="page-header">
          <h1>Angular Trustpass <small>By <a href="https://www.trustroots.org/">Trustroots.org</a></small></h1>
        </div>
        <p class="lead">This is a simple password strength meter & validator inspired by MailChimp's <a href="https://login.mailchimp.com/signup/">signup form</a>.</p>
        <p class="lead">Read more from <a href="https://github.com/Trustroots/trustpass">GitHub</a>.</p>
        <hr>
      </div>
    </div>

    <div class="demo">
      <div class="row">

        <div class="col-sm-6">

          <h4>Simple example</h4>

          <form name="demoSimpleForm">
            <input type="password"
                   class="form-control input-lg"
                   placeholder="Password"
                   tr-trustpass="{special: false}"
                   ng-model="passwordSimple">
          </form>

        </div>
        <div class="col-sm-6">
          <br><br>
          <div class="well">
            <strong>Model:</strong> {{ passwordSimple }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">

          <h4>More complex example</h4>

          <form name="demoForm">
            <div class="form-group" ng-class="{'has-error': demoForm.password.$invalid && demoForm.password.$dirty, 'has-success': !demoForm.password.$invalid && demoForm.password.$dirty}">
              <input id="password"
                     class="form-control input-lg"
                     type="password"
                     name="password"
                     placeholder="Password"
                     tr-trustpass="{maximum: true, messageGuide: 'Make sure your password meets these requirements:', keepHeight: true}"
                     ng-minlength="9"
                     ng-maxlength="90"
                     ng-model="password">
            </div>
            <button type="submit" ng-disabled="demoForm.password.$invalid" class="btn btn-primary">Sign up</button>
          </form>

        </div>
        <div class="col-sm-6">
          <br><br>
          <div class="well">

            <table class="table table-example2">
              <tbody>
                <tr>
                  <th>Model</th>
                  <td>{{ password }}</td>
                </tr>
                <tr>
                  <th>Invalid</th>
                  <td><code ng-class="{ 'text-danger': demoForm.password.$invalid, 'text-success': !demoForm.password.$invalid }">{{ demoForm.password.$invalid }}</code></td>
                </tr>
                <tr>
                  <th>Input errors</th>
                  <td><code ng-class="{ 'text-danger': demoForm.password.$error, 'text-success': !demoForm.password.$error }">{{ demoForm.password.$error | json }}</code></td>
                </tr>
                <tr>
                  <th>Change to</th>
                  <td>
                    <div class="btn-group" role="group" aria-label="Password setters">
                      <button class="btn btn-xs btn-danger" ng-click="password = 'foo'">Invalid</button>
                      <button class="btn btn-xs btn-success" ng-click="password = 'Hello World!1'">Valid</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div><!--.demo-->

    <div class="row footer">
      <div class="col-xs-6">
        <ul class="list-inline text-muted">
          <li><a href="https://github.com/Trustroots/trustpass" class="text-muted">GitHub</a></li>
          <li><a href="https://github.com/Trustroots/trustpass/blob/master/LICENSE.md" class="text-muted">MIT Licensed</a></li>
          <li><iframe src="https://ghbtns.com/github-btn.html?user=trustroots&repo=trustpass&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe></li>
        </ul>
      </div>
      <div class="col-xs-6">
        <ul class="list-inline text-muted pull-right">
          <li>By <a href="http://www.mikaelkorpela.fi/" class="text-muted">Mikael Korpela</a> & <a href="https://www.trustroots.org/" class="text-muted">Trustroots</a></li>
        </ul>
      </div>
    </div>

  </article>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  <script src="tr-trustpass.js"></script>
  <script>
    angular.module('demoApp', ['trTrustpass']);
  </script>
</body>
</html>
